---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

// Basic styles

.right {
  float: right;
}

body {
  background: #F0E9E1;
  // background: #F5F0EB;
  font-size: 16px;
}

.footer-container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

footer {
  padding: 10px 0;
  font-size: 12px;
}

.footer {
  background: #F0E9E1;
}

.footer::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

// Masthead styles
.masthead {
  background: #D15D24;
  width: 100%;
}

.masthead-container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  width: 60px;
  height: 60px;
  padding: 10px 0;
}

.nav-primary ul li {
  display: inline-block;
  padding: 25px 0 0 20px;
}

.nav-primary ul li a {
  color: #F5F0EB;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

// Main container styles
.main-container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.main-content {
  background: #F5F0EB;
}

// Homepage styles
.intro p {
  font-size: 26px;
  padding: 25px 0;
  margin: 0;
}

.panel.intro {
  background: #F0E9E1;
}

.panel.latest-work {
  background: #F5F0EB;
}

.panel-container, .post {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

ul.featured-works {
  margin: 0;
  list-style: none;
  text-align: center;
}

ul.featured-works li {
  display: inline-block;
  margin: 0 3%;
}

ul.featured-works li.second {
  margin: 0 7%;
}

.featured-works img {
  width: 300px;
  height: 100%;
}

/* Portfolio Styles */
ul.portfolio-grid li {
  display: inline-block;
  margin: 0 3%;
}

.portfolio-grid  {
  text-align: center;
  margin: 0;
}

.portfolio-grid h3 {
  font-size: 1.17em;
}

.portfolio-grid img {
  width: 300px;
  height: 100%;
}
